:root {
    --bg-color: rgb(34, 34, 34);
    --text-color: whitesmoke;
    --header-bg-color: grey;
    --header-text-color: white;
    --sidebar-bg-color: #343a40;
    --catelog-list-bg:#1b2430;
    --sidebar-text-color: lightgray;
    --sidebar-hover-color: rgb(10, 160, 97);
    --button-bg-color: rgb(14, 173, 93);
    --button-text-color: whitesmoke;
    --table-bg-color: #343a40;
    --table-text-color: lightgray;
    --input-bg-color: #343a40;
    --input-text-color: lightgray;
    --resetBtn-border:lightgray;
    --deletebtn-color:rgb(185, 62, 62);
    --addbtn-color:#1e8052;
    --bulk-color:#828891;
    --bulkSide-color:#71757a;
    --checkbox-bg:black;
    --checkbox-tick-color:white;
    --table-bg-color:#1b2430;
    --tableselect-bg:#364050;
    --tableselect-color:white;
}
/* Light Mode */
.light-mode {
    --bg-color: #eef0f1 ;
    --text-color: black;
    --header-bg-color: white;
    --header-text-color: black;
    --sidebar-bg-color: white;
    --catelog-list-bg:whitesmoke;
    --sidebar-text-color: rgb(14, 14, 14);
    --sidebar-hover-color: rgb(10, 160, 97);
    --button-bg-color: rgb(14, 173, 93);
    --button-text-color: black;
    --table-bg-color: white;
    --table-text-color: black;
    --input-bg-color: whitesmoke;
    --input-text-color: gray;
    --resetBtn-border:gray;
    --deletebtn-color:rgb(185, 62, 62);
    --addbtn-color:#1e8052;
    --bulk-color:#828891;
    --bulkSide-color:#71757a;
    --checkbox-bg:rgb(235, 228, 228);
    --checkbox-tick-color:#28a745;
    --table-bg-color:white;
    --tableselect-bg:white;
    --tableselect-color:black;
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: var(--bg-color);
    font-family: sans-serif,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden; 
    margin-left: 0 !important;
    }
.table-dark th,
.table-dark td {
    background-color: var(--bg-color);
    color: var(--text-color);
}
.badge-success {
    background-color: #28a745;
}
.form-check-input {
    width: 2rem;
    height: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.pagination .page-item .page-link {
    color:var(--header-text-color);
    background-color:var(--sidebar-bg-color);
    border: none;
}
.bgOfRow{
    padding: 30px 10px;
    background: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);
    border-radius: 10px;
    overflow-x: hidden ;
}
.pagination .page-item.active .page-link {
    background-color: #28a745;
    border-color: #28a745;
}
header{
    color: var(--header-text-color);
    background:var(--header-bg-color);
    height: 5rem;
    padding: 1rem 2rem;
}
.heading-last{
    justify-content: end;
}
.head-icons {
    font-size: 30px;
}
#toggle{
    left: 0;
    margin-left: 15px;
    transition: left 0.5s ease;
    transition-delay: 0.01s;
    position: relative;
    padding-left: 15px;
}
#toggle.active{
    left: 15rem;
}
.head-select{
    background: gray;
    color: white;
    border: none;
    font-size: 20px;
    margin-top: 3px;
    padding-top: 7px;
    margin-right: 15px;
}
.light-mode .head-select{
    background: white;
    color: black;
}
.profile{
    width: 40px;
    height:40px;
    background: darkgray;
    color: white;
    border-radius: 50%;
    margin-left:15px;
    margin-top: 3px;
    padding-left: 14px;
    padding-top: 4px;
    font-size: 20px;
}
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    background: #343a40;
    color: whitesmoke;
    transition: all 0.6s;
    padding-left: 10px;
    font-size: 19px;
    font-weight: 500;
}
.light-mode #sidebar{
    background: white;
}
#catelog-dropdown{
    transition: ease-in-out 0.6s;
    -webkit-transition: ease-in-out 0.6s;
    -moz-transition: ease-in-out 0.6s;
}
/* catelog ul of sidebar  */
.Catelog-ul{
   display: none;
   background:var(--catelog-list-bg);
   margin-top:12px;
   border-radius: 10px;
   font-size: 17px;
   color: var(--sidebar-text-color);
   height: 0; /* Initially hidden */
   overflow: hidden; /* Hide the overflow content */
   transition: height 0.1s ease-in-out;
}
 .Catelog-ul.active {
    height: auto;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    transition: ease-in-out 0.6s;
    -webkit-transition: ease-in-out 0.6s;
    -moz-transition: ease-in-out 0.6s;
 }
.catelog-down-icon{
    font-size: 20px;
    transform: rotate(0);
    margin-left:5px;
}
.catelog-down-icon.active {
    transform: rotate(90deg);
    font-size: 20px;
}
.dash-heading{
    font-size: 28px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 10px;
    color: rgb(10, 160, 97);
}
#sidebar.dash-heading:hover{
color: white;
}
#sidebar.active {
    left: 0;
}

#sidebar ul {
    padding: 0;
}

#sidebar ul li {
    list-style: none;
    padding: 14px;
}

#sidebar ul li a {
    color:var(--sidebar-text-color);
    text-decoration: none;
    display: block;
}

#sidebar ul li a:hover {
    color:rgb(10, 160, 97);
}
.logout-btn{
    background:rgba(10,160,97);
    color: whitesmoke;
    font-weight: 500;
    font-size:17px;
    margin-top: 2rem;
    margin-left: 15px;
    width: 12rem;
}
.logout-btn:hover{
background: rgb(6, 125, 75);
color: white;
}
/* section 1 content wrapper  */
.section-1{
    padding: 2rem 2rem;
    color: var(--text-color);
}
 /* #whole-body{
    padding: 10px;
} */
.light-mode .section-1{
    color: black;
}
#content-wrapper {
    transition: margin-left 0.6s;
    margin-left: 0;
    /* padding: 1rem; */
}
#content-wrapper.active {
    margin-left: 250px;
    padding: 1rem;
}
/* my form  */
.darkcolor{
    border: none;
    padding-left: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background:#1f2937;
}
.basic-info-line{
    background: #10b981;
    height: 2px;
    width: 112px;
}
.basic-text{
    color: #10b981;
}
#productForm{
    display: none;
    background: #374151;
    margin-left: 283px;
    height: 100%;
    width: 82%;
    color: #9ca3af;
    transition: right 0.5s ease-in-out;    
}
#productForm.active{
    display: block;
}
#productForm .btn-cancel {
    background-color:tomato;
    width: 50px;
    height: 50px;
    border-radius:50%;
    color: white;
    font-size: 20px;
 
}
#productForm .btn-cancel:active{
    background: #e74c3c;
}
.form-row{
    padding: 20px;
    padding-right: 0px !important;
}
.textcolor::placeholder{
    color: gray;
}
.inputdiv{
    width: 100%;
    height: 3rem;
    padding-left: 10px;
    background:transparent;
    border: 1px solid gray;
    border-radius: 10px;
}
.inputdiv:focus-visible{
    outline: none;
}
.textcolor{
    color:lightgray;
}
.textarea{
    width: 100%;
    border-radius: 10px;
    background: transparent;
    border: 1px solid gray;
    padding-left: 10px;
    padding-top: 10px;
    color: whitesmoke;
}.textarea:focus-visible{
    outline: none;
}
.bothbtn{
    width: 100%;
    height: 3rem;
}
.form-select {
    border: 1px solid gray;
    box-shadow: none;
    background: var(--tableselect-bg) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" color="white" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>') no-repeat right 10px center;
    background-color: var(--tableselect-bg); 
    color: var(--tableselect-color); 
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 30px; 
    overflow-x: hidden;
    border-radius: 10px; 
    padding-left:15px;
    height: 47px;
    width: 100%;
    margin: 4px 4px;
    font-size: 16px; 
}
.form-select:focus{
    border: 1px solid gray;
    box-shadow: none;
}
.bulk-icon{
    font-size: 20px;
    padding: 8px 2px;
}
.delete-icon{
    padding-right: 5px;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-box {
    overflow-x: hidden;
    background: #364050;
    color: lightgray;
    border: 1px solid gray;
    border-radius: 10px; 
    padding-left:15px;
    height: 47px;
    width: 100%;
    margin: 4px 4px;
    font-size: 16px; 
}
.light-mode .input-box{
    background: #eef0f1;
    color: gray;
}
.light-mode .form-select{
    background: #eef0f1;
    color: gray;
}
.input-box:focus-visible{
    outline: none;
}
.twobtns{
    gap: 10px;
}
/* dropdown container  */
.view-icon{
    font-size: 23px;
    padding-left: 10px;
}
.two-btn{
    gap: 15px;
}
.button-add {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #1e8052 0, #1e8052 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex; 
    height: 48px;
    width: 100%;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s,transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 16px;
  }
  
  .button-add:focus {
    box-shadow: #1e8052 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #1e8052 0 -3px 0 inset;
  }
  
  .button-add:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #1e8052 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-add:active {
    box-shadow: #1e8052 0 3px 7px inset;
    transform: translateY(2px);
  }
  .button-bulk {
    align-items: center;
    appearance: none;
    background: #828891;
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex; 
    height: 48px;
    width: 100%;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 16px;
  }
  
  .button-bulk:focus {
    box-shadow: #828891 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #828891 0 -3px 0 inset;
  }
  
  .button-bulk:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #676c73 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-bulk:active {
    box-shadow: #828891 0 3px 7px inset;
    transform: translateY(2px);
  }
  .button-delete {
    align-items: center;
    appearance: none;
    background: rgb(185, 62, 62);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex; 
    height: 48px;
    width: 100%;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 16px;
  }
  
  .button-delete:focus {
    box-shadow: rgb(185, 62, 62) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgb(185, 62, 62) 0 -3px 0 inset;
  }
  
  .button-delete:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgb(179, 70, 70) 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-delete:active {
    box-shadow: rgb(225, 75, 75) 0 3px 7px inset;
    transform: translateY(2px);
  }
  .button-filter {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #1e8052 0, #1e8052 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex; 
    height: 48px;
    width: 100%;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    margin-top: 3px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s,transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 16px;
  }
  
  .button-filter:focus {
    box-shadow: #1e8052 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #1e8052 0 -3px 0 inset;
  }
  .button-reset:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #676c73 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  .button-filter:active {
    box-shadow: #1e8052 0 3px 7px inset;
    transform: translateY(2px);
  }
  .button-reset {
    align-items: center;
    appearance: none;
    background: #828891;
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex; 
    height: 48px;
    width: 100%;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 3px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 16px;
  }
  
  .button-reset:focus {
    box-shadow: #828891 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #828891 0 -3px 0 inset;
  }
  
  .button-reset:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #676c73 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-reset:active {
    box-shadow: #828891 0 3px 7px inset;
    transform: translateY(2px);
  }
  .button-impo {
    align-items: center;
    appearance: none;
    background:rgb(224, 108, 66);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex; 
    height: 48px;
    width: 100%;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s,transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 16px;
  }
  
  .button-impo:focus {
    box-shadow: rgb(224, 108, 66) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgb(224, 108, 66) 0 -3px 0 inset;
  }
  
  .button-impo:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px,rgb(224, 108, 66) 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-impo:active {
    box-shadow: rgb(224, 108, 66) 0 3px 7px inset;
    transform: translateY(2px);
  }
  .custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .button-expo {
    appearance: none;
    background-color: transparent;
    border: 2px solid gray;
    border-radius: 15px;
    box-sizing: border-box;
    color:var(--text-color);
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    /* min-height: 20px; */
    /* min-width: 0; */
    outline: none;
    /* padding: 16px 24px; */
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }
  
  .button-expo:disabled {
    pointer-events: none;
  }
  
  .button-expo:hover {
    color: #fff;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  .iconsOnly{
 padding-top: 1rem;
    display: none;
  }
  .button-expo:active {
    box-shadow: none;
    transform: translateY(0);
  }
  /* Create a custom checkbox */
  .custom-checkbox .checkmark {
    position: relative;
    height: 17px;
    width: 17px;
    background-color: #ccc;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
  }
  
  /* When the checkbox is checked */
  .custom-checkbox input:checked + .checkmark {
    background-color: var(--checkbox-bg);
  }
  
  /* Add the white checkmark (tick) */
  .custom-checkbox .checkmark::after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .custom-checkbox input:checked + .checkmark::after {
    display: block;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid var(--checkbox-tick-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .textWithIcon{
    display: flex; 
  }
  .impoexpoicon{
    display: none;
  }
  .impoexpowithText{
    display: flex;
    flex-direction: row;
  }
  #search-icon{
    display: none;
  }
  .btns-div{
    display: none;
  }
  /* responsioveness  */
  @media (max-width:320px) and (min-width:200px){
    .button-expo{
        height: 3rem;
    }
    .impoexpoicon{
    display: flex;
    font-size: 25px;
    padding: 3px;
    padding-left: 0px;
  }
  .import-icon{
    rotate: 180deg;
  }
  .export-icon{
    padding-top: 4px;
  }
  .bgOfRow{
    padding: 15px;
  }
  .impoexpowithText{
    display: none;
  }
    .heading-last{
        visibility: hidden;
    }
    table {
        width: 100%;
        display: block;
        overflow-x: auto;
    }
    .table-div{
        padding-left: 20px;
        padding-right: 20px;
    }
  .iconsOnly{
    display: flex; 
    justify-content: center;
    width: 100%;
    padding-top: 2px;
  }
  .textWithIcon{
    display: none; 
  }
   header {
    height: 50px;
    padding-left: 0px;
    padding-top: 5px;
  }
  .table-container{
    font-size: 13px;
}
.custom-checkbox .checkmark {
    height: 12px;
    width: 12px;
}
.custom-checkbox input:checked + .checkmark::after {
    display: block;
    left: 4px;
    width: 4px;
    height: 6px;
    border: solid var(--checkbox-tick-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .dropdown-container-1{
    padding-left: 12px;
    padding-right: 0px;
}
.dropdown-container{
    padding-left: 10px;
    padding-right: 20px;
}
.dropdown-container{
    display: none;
  }
  .dropdown-container-1{
    padding: 0px;
    padding-right: 8px;
  }
  .input-b{
    padding: 0px;
  }
  .two-btn{
    padding-left: 5px;
    padding-right: 5px;
    gap: 5px;
  }
  .three-btns{
    padding: 0px;
}
#search-icon{
  display: flex;
  font-size: 23px;
  justify-content: end;
  padding-top: 5px;
}
header{
  padding-right: 8px;
}
} 
@media (max-width:767px) and (min-width:321px){
    /* phone sm */
    .three-btns{
        display: flex;
        flex-direction: column;
        /* margin-top: 1rem; */
    }
    .twobtns{
        width: 100%;
        gap: 1rem;
    }
    header{
        width: 100%;
    }
    .heading-last{
        visibility: hidden;
    }
    #content-wrapper {
        transition: margin-left 0.6s;
        margin-left: 0;
        padding: 0px;
    }
    #content-wrapper.active {
        /* margin-left: 250px; */
        visibility: hidden;
        padding: 1rem;
     }
    #toggle{
        left: 0;
        margin-left: 3px;
        transition: left 0.5s ease;
        transition-delay: 0.01s;
        position: relative;
        /* padding: 10px; */
    }
    #toggle.active{
        left: 14rem;
    }
    table {
        width: 100%;
        display: block;
        overflow-x: auto;
    }
    .table-div
    {
        padding-left: 10px;
        padding-right: 10px;
    }
    #sidebar {
        width: 250px;
        position: fixed;
        top: 0;
        left: -250px;
        height: 100%;
        background: #343a40;
        color: whitesmoke;
        transition: all 0.6s;
        padding-left: 10px;
        font-size: 19px;
        font-weight: 500;
    }
    #sidebar.active {
        left: 0px;
    }
    th, td {
        padding: 0px;
        text-align: left;
    }
    table .table-div {
        padding-left: 10rem;
    }
    .heading-last{
        justify-content: end;
        }
    .section-1 {
            padding-top: 0px;
            margin-top: 0px;
            font-style: 46px;
        }
    .button-expo{
            height: 3rem;
        }
    .iconsOnly{
            display: flex;
            padding-top: 0px;
          }
    .textWithIcon{
            display: none; 
          }
          .table-container{
            font-size: 14px;
        }
    .custom-checkbox .checkmark {
            height: 12px;
            width: 12px;
        }
    .custom-checkbox input:checked + .checkmark::after {
            display: block;
            left: 4px;
            width: 4px;
            height: 6px;
            border: solid var(--checkbox-tick-color);
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
    }
    .impoexpoicon{
        display: flex;
        padding-left: 10px;
        gap: 0px;
      }
      .import-icon{
        rotate: 180deg;
        font-size: 30px;
      }
      .export-icon{
        font-size: 30px;
        /* padding-left: 6px; */
      }
      .bgOfRow{
        padding: 10px;
      }
      .impoexpowithText{
        display: none;
      }
      .dropdown-container{
        display: none;
      }
      .dropdown-container-1{
        padding: 0px;
        padding-right: 5px;
      }
      .input-b{
        padding: 0px;
      }
      .two-btn{
        /* padding: 0px; */
        padding-left: 5px;
        padding-right: 0px;
        padding-top: 5px;
        padding-bottom: 0px;
        gap:10px;
      }
      .three-btns{
        padding: 0px;
    }
    #search-icon{
        display: inline-block;
        font-size: 23px;
        padding-top: 5px;
        /* padding-left: 80px; */
      }
  .btns-div{
    display: none;
  }
    #search-icon{
      display: flex;
      font-size: 23px;
      justify-content: end;
      padding-top: 5px;
    }
    header{
      padding-left: 0px;
      padding-right: 15px;
    }
    }
@media (max-width:992px) and (min-width:768px){
    /* medium md */
    .heading-last{
      display: flex;
        justify-content: end;
    }
     table {
    width: 100%;
    display: block;
    overflow: auto;
     }
    th, td {
    padding: 0px;
    }
    .table-div{
        padding-left: 10px;
        padding-right: 10px;
    }
    header {
        height: 60px;
        padding-left: 0px;
        padding-top: 7px;
    }
    .searchDiv{
      display: none;
    }
 }
@media (max-width:1200px) and (min-width:993px){
    /* Large lg*/
    .heading-last{
        justify-content: end;
    }
    table {
            width: 100%;
            /* display: block; */
    }
    th, td {
            padding: 14px;
            text-align: center;
    }
    .table-div
            {
                padding-left: 1rem;
                padding-right: 40px;
    }
    header {
      height: 60px;
      padding-left: 0px;
      padding-top: 7px;
    }
    .searchDiv{
      display: none;
    }
    .heading-last{
      display: flex;
      justify-content: end;
    }
 }
@media (max-width:1448px) and (min-width:1201px){
    /* extra large  xl*/
    .heading-last{
        justify-content: end;
        }
        th, td {
            padding: 14px;
            text-align: center;
        }
        .table-div
        {
            padding-left: 1rem;
            padding-right: 20px;
        }
        header {
            height: 60px;
            padding-left: 0px;
            padding-top: 7px;
          }
          .heading-last{
            display: flex;
            justify-content: end;
          }
          .searchDiv{
            display: none;
          }
        
  }
@media (min-width:1449px) and (max-width:2660px){
  
  .table-div {
        padding-left: 2rem;
        padding-right: 40px;
    }
    header {
        height: 60px;
        padding-left: 0px;
        padding-top: 5px;
      }
      .heading-last{
        display: flex;
        justify-content: end;
      }
      .searchDiv{
        display: none;
      }
}