/* dark mode  */
:root {
    --bg-color: rgb(34, 34, 34);
    --text-color: whitesmoke;
    --header-bg-color: grey;
    --header-text-color: white;
    --sidebar-bg-color: #343a40;
    --catelog-list-bg:#343a40;
    --sidebar-text-color: lightgray;
    --sidebar-hover-color: rgb(10, 160, 97);
    --button-bg-color: rgb(14, 173, 93);
    --button-text-color: whitesmoke;
    --table-bg-color: #343a40;
    --table-text-color: lightgray;
    --input-bg-color: #343a40;
    --input-text-color: lightgray;
    --resetBtn-border:lightgray;
    --checkbox-bg:black;
    --checkbox-tick-color:white;
}
/* Light Mode */
.light-mode {
    --bg-color: #eef0f1 ;
    --text-color: black;
    --header-bg-color: white;
    --header-text-color: black;
    --sidebar-bg-color: white;
    --catelog-list-bg:whitesmoke;
    --sidebar-text-color: rgb(14, 14, 14);
    --sidebar-hover-color: rgb(10, 160, 97);
    --button-bg-color: rgb(14, 173, 93);
    --button-text-color: black;
    --table-bg-color: white;
    --table-text-color: black;
    --input-bg-color: whitesmoke;
    --input-text-color: gray;
    --resetBtn-border:gray;
    --checkbox-bg:rgb(235, 228, 228);
    --checkbox-tick-color:#28a745;
}
table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden; 
    margin-left: 0 !important;
    }
    .table-dark th,
.table-dark td {
    background-color: var(--bg-color);
    color: var(--text-color);
}
.badge-success {
    background-color: #28a745;
}
.form-check-input {
    width: 2rem;
    height: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.pagination .page-item .page-link {
    color: var(--text-color);
    background-color: var(--header-bg-color);
    border: none;
}

.pagination .page-item.active .page-link {
    background-color: #28a745;
    border-color: #28a745;
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: sans-serif,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    color: var(--header-text-color);
    background: var(--header-bg-color);
    height: 5rem;
    padding: 1rem 2rem;
}
.heading-last{
justify-content: end;
}
.head-icons {
    font-size: 30px;
}
#toggle{
    left: 0;
    margin-left: 15px;
    transition: left 0.5s ease;
    transition-delay: 0.01s;
    position: relative;
}
#toggle.active{
    left: 15rem;
}
.head-select{
    background: var(--header-bg-color);
    color: var(--header-text-color);
    border: none;
    font-size: 20px;
    margin-top: 3px;
    padding-top: 7px;
    margin-right: 15px;
}
.profile{
    width: 40px;
    height:40px;
    background: darkgray;
    color: white;
    border-radius: 50%;
    margin-left:15px;
    margin-top: 3px;
    padding-left: 14px;
    padding-top: 4px;
    font-size: 20px;
}
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    background: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);
    transition: all 0.6s;
    padding-left: 10px;
    font-size: 19px;
    font-weight: 500;
}
#catelog-dropdown{
    transition: ease-in-out 0.6s;
    -webkit-transition: ease-in-out 0.6s;
    -moz-transition: ease-in-out 0.6s;
}
/* catelog ul of sidebar  */
.Catelog-ul{
    display: none;
    background:var(--catelog-list-bg);
    margin-top:12px;
    border-radius: 10px;
    font-size: 17px;
    color: var(--sidebar-text-color);
    height: 0; /* Initially hidden */
    overflow: hidden; /* Hide the overflow content */
    transition: height 0.1s ease-in-out; 
 }
 .Catelog-ul.active {
    height: auto;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    transition: ease-in-out 0.6s;
    -webkit-transition: ease-in-out 0.6s;
    -moz-transition: ease-in-out 0.6s;
 }
.catelog-down-icon{
    /* -webkit-transition: -webkit-transform .8s ease-in-out; */
    /* -ms-transition: -ms-transform .8s ease-in-out; */
    /* transition: transform .8s ease-in-out;   */
    /* transition: transform .4s ease; */
    /* width: 12px; */
    font-size: 20px;
    transform: rotate(0);
    margin-left:5px;
}
.catelog-down-icon.active {
    transform: rotate(90deg);
    /* width:12px; */
    font-size: 20px;
    /* margin-top: -10px; */
    /* transform:rotate(45deg); */
    /* -ms-transform:rotate(45deg); */
    /* -webkit-transform:rotate(45deg); */
}
.dash-heading{
    font-size: 28px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 10px;
    color: rgb(10, 160, 97);
}
#sidebar.dash-heading:hover{
/* color: rgb(0, 128, 75); */
color: white;
}
#sidebar.active {
    left: 0;
}

#sidebar ul {
    padding: 0;
}

#sidebar ul li {
    list-style: none;
    padding: 14px;
}

#sidebar ul li a {
    color:var(--sidebar-text-color);
    text-decoration: none;
    display: block;
}
#sidebar ul li a:hover {
    color:rgb(10, 160, 97);
}
.logout-btn{
    background:rgba(10,160,97);
    color: whitesmoke;
    font-weight: 500;
    font-size:17px;
    margin-top: 2rem;
    margin-left: 15px;
    width: 12rem;
    /* left: 30px; */
}
.logout-btn:hover{
background: rgb(6, 125, 75);
color: white;
}
/* section 1 content wrapper  */
.section-1{
    padding: 2rem 2rem;
    color: var(--text-color);
}
#content-wrapper {
    transition: margin-left 0.6s;
    margin-left: 0;
    /* padding: 1rem; */
}
#content-wrapper.active {
    margin-left: 250px;
    padding: 1rem;
}
 /* Info Row Styling */
 .info-row {
    background: var(--sidebar-bg-color);
    padding: 25px;
    border-radius: 10px;
    display: flex; 
    margin-bottom: 2rem; 
    overflow: hidden;
    box-sizing: border-box; 
}
.info-row-1{
    background: var(--sidebar-bg-color);
    /* padding: 10px 5px; */
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem; 
    column-gap: 3%;
}
.form-select:focus {
    border: 1px solid gray;
    box-shadow: none;
}

.impo-btn{
    font-size: 17px;
    color: var(--text-color);
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 9px 9px;
    display: flex;
    height:43px;
    /* margin-right: 10px; */
}
.impo-btn:hover{
    border: 1px solid var(--sidebar-hover-color);
}
.impo-icon{
    color: var(--text-color);
    /* padding: 4px 4px; */
    padding-right: 5px;
}
.buttons {
    overflow-x: hidden;
    /* padding-left: 55rem; */
    display: flex;
    justify-content: end;
    height:43px;
    font-size: 17px;
}
.bulk-btn{
    color: lightgray;
    background: #828891;
}
.bulk-btn:hover{
    background: #828891;
}
.bulk-icon{
    font-size: 20px;
    padding: 8px 2px;
}
.delete-btn{
    color: lightgray;
    background: rgb(185, 62, 62);
    padding: 8px 15px;
    /* margin-right: 10px; */
    border-radius: 10px;
}
.delete-btn:hover{
    background: rgb(185, 62, 62);
}
.delete-icon{
    padding-right: 5px;

}
.add-btn{
    color:whitesmoke ;
    background:rgb(14, 173, 93) ;
    border-radius: 10px;
}
.add-btn:hover{
    background: rgb(10, 160, 97);
    color: white;
}
.add-icon{
    padding-right: 5px;   
    font-size: 20px;
}
.input-box{
    overflow: hidden;
    background:var(--input-bg-color);
    color: var(--input-text-color);
    border: 1px solid gray;
    border-radius: 10px; 
    padding-left: 15px;
    width: 100%;
    height: 47px;
    margin: 4px 4px;
    font-size: 16px;
}
.twobtns{
    gap: 10px;
}
.bgOfRow{
    padding: 30px 10px;
    background: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);
    border-radius: 10px;
    overflow-x: hidden ;
}
.input-box:focus-visible{
    outline: none;
}

.filter-btn{
    color: whitesmoke;
    background: rgb(14, 173, 93);
    border-radius: 10px;
    font-size: 19px;
    width: 50%;
    height: 46px;
    margin-top: 5px;
}
.filter-btn:hover{
    background:rgb(14, 173, 93);
    color: white;
}
.reset-btn{
    color: var(--header-text-color);
    border: 1px solid var(--resetBtn-border);
    border-radius: 10px;
    width: 35%;
    height: 46px;
    border-radius: 10px;
    font-size: 19px;
    margin-top: 5px;
    margin-left: 1rem;
}
.reset-btn:hover{
    border: 1px solid var(--resetBtn-border);
}
.bulk-btn, .delete-btn, .add-btn {
    width: auto; 
    border-radius: 10px;
}
.two-btn{
    gap: 15px;
}
.all-icons{
    font-size: 19px;
    padding-left: 2px;
}
.iconsOnly {
 display: none;
 padding-top: 1rem;
}
.textWithIcon{
    display: flex;
  }
.bottom-page{
    display: flex;
    justify-content: end;
    padding-right: 2rem;
}
/* Hide the default checkbox */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .custom-checkbox .checkmark {
    position: relative;
    height: 17px;
    width: 17px;
    background-color: #ccc;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
  }
  
  /* When the checkbox is checked */
  .custom-checkbox input:checked + .checkmark {
    background-color: var(--checkbox-bg);
  }
  
  /* Add the white checkmark (tick) */
  .custom-checkbox .checkmark::after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .custom-checkbox input:checked + .checkmark::after {
    display: block;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid var(--checkbox-tick-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
@media (max-width:320px) and (min-width:200px){
    .button-expo{
        height: 3rem;
    }
  .iconsOnly{
    display: flex;
    justify-content: start;
  }
  .textWithIcon{
    display: none; 
  }
  .bulk-icon{
    font-size: 25px;
    padding-left: 10px;
  }
  .add-icon{
    font-size: 20px;
    padding-left: 4px;
  }
  .delete-icon{
    font-size: 15px;
    padding-left: 10px;
  }
  
  table {
    width: 100%;
    display: block;
    overflow-x: auto;
}
.table-div
{
    padding-left: 6px;
    padding-right: 6px;
}
header{
    padding-left: 0px;
}
.heading-last{
    visibility: hidden;
}
.two-btn{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    /* padding: 2rem 2rem; */
}
#content-wrapper {
    transition: margin-left 0.6s;
    margin-left: 0;
    padding: 0px;
}
#content-wrapper.active {
    visibility: hidden;
    padding: 1rem;
}
.table-container{
    font-size: 13px;
}
.custom-checkbox .checkmark {
    height: 12px;
    width: 12px;
}
.custom-checkbox input:checked + .checkmark::after {
    display: block;
    left: 4px;
    /* top: 2px; */
    width: 4px;
    height: 6px;
    border: solid var(--checkbox-tick-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  }
@media (max-width:767px) and (min-width:321px){
    .three-btns{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
    .twobtns{
        width: 100%;
        gap: 1rem;
    }
    
    header{
        padding-left: 10px;
    } 
    .heading-last{
        visibility: hidden; 
    }
    .btnsdiv{
        gap: 5px;
    }
    #content-wrapper {
        transition: margin-left 0.6s;
        margin-left: 0;
        padding: 0px;
    }
    #content-wrapper.active {
        visibility: hidden;
        padding: 1rem;
    }
    #toggle{
        left: 0;
        margin-left: 3px;
        transition: left 0.5s ease;
        transition-delay: 0.01s;
        position: relative;
        padding: 0px;
    }
    #toggle.active{
        left: 15rem;
    }
    table {
        width: 100%;
        display: block;
        overflow-x: auto;
    }
    .table-div
    {
        padding-left: 10px;
        padding-right: 10px;
    }
    #sidebar {
        width: 250px;
        position: fixed;
        top: 0;
        left: -250px;
        height: 100%;
        background: #343a40;
        color: whitesmoke;
        transition: all 0.6s;
        padding-left: 10px;
        font-size: 19px;
        font-weight: 500;
    }
    #sidebar.active {
        left: 0px;
    }
    th, td {
        padding: 0px;
        text-align: left;
    }
    .heading-last{
        justify-content: end;
        }
        .impo-icon{
            /* padding: 0px; */
            padding-right: 3px;
            font-size: 15px;
            /* padding-bottom: 5px; */
        }
        .impo-btn{
            font-size: 16px;
            width: 100%;
            padding-top: 10px;
            /* text-align: center; */
            justify-content: center;
        }
        .impo-icon{
            /* visibility: hidden; */
          display: none;
        }
        .imp-expo-buttons{
            gap: 5px;
        }
        .button-expo{
            height: 3rem;
        }
        .iconsOnly{
            /* width: 100%; */
            display: flex;
            justify-content: start;
          }
          .textWithIcon{
            display: none; 
          }
          .table-container{
            font-size: 14px;
        }
        .custom-checkbox .checkmark {
            height: 12px;
            width: 12px;
        }
        .custom-checkbox input:checked + .checkmark::after {
            display: block;
            left: 4px;
            /* top: 2px; */
            width: 4px;
            height: 6px;
            border: solid var(--checkbox-tick-color);
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }
          
    }
@media (max-width:992px) and (min-width:768px){
    /* medium md */
    .info-row{
        width:100%;
        margin-right: 0px;
        text-align: center;
        column-gap: 0px;
    }
    .heading-last{
        justify-content: end;
        }
            th, td {
                padding: 0px;
            }
            .buttons{
                    gap: 15px;
            }
            .table-div
                {
                    padding-left: 10px;
                    padding-right:10px;
                }
            /* .section-1{
                padding-left: 22px;
                padding-right: 0px;
            } */

 }
@media (max-width:1200px) and (min-width:993px){
    /* Large lg*/
    .heading-last{
    margin-left: 0px;
    }
    .heading-last{
        justify-content: end;
        }
        th, td {
            padding: 14px;
            text-align: center;
        }
        .heading-last{
            justify-content: end;
            }
            .filter-btn{
                padding: 5px 5px;
            }
            .table-div
                {
                    padding-left: 20px;
                    padding-right: 10px;
                }
                .section-1{
                    padding-left: 50px;
                }
        }
        .button-expo {
            appearance: none;
            background-color: transparent;
            border: 2px solid gray;
            border-radius: 15px;
            box-sizing: border-box;
            color:white;
            cursor: pointer;
            display: inline-block;
            font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
            font-size: 16px;
            font-weight: 600;
            line-height: normal;
            margin: 0;
            /* min-height: 20px; */
            /* min-width: 0; */
            outline: none;
            /* padding: 16px 24px; */
            text-align: center;
            text-decoration: none;
            transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            width: 100%;
            will-change: transform;
          }
          
          .button-expo:disabled {
            pointer-events: none;
          }
          
          .button-expo:hover {
            color: #fff;
            background-color: transparent;
            box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
            transform: translateY(-2px);
          }
          
          .button-expo:active {
            box-shadow: none;
            transform: translateY(0);
          }
        @media (max-width:1448px) and (min-width:1201px){
            /* extra large  xl*/
            .heading-last{
                justify-content: end;
                }
                th, td {
                    padding: 14px;
                    text-align: center;
                }
                .table-div
                {
                    padding-left: 10px;
                    padding-right:10px;
                }
                .filter-btn{
                    padding-top: 10px;
                }
              .section-1{
                padding-left: 50px;
              }
          }
        @media (min-width:1449px) and (max-width:2660px){
          
            .table-div
            {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        .button-add {
            align-items: center;
            appearance: none;
            background-image: radial-gradient(100% 100% at 100% 0, #1e8052 0, #1e8052 100%);
            border: 0;
            border-radius: 6px;
            box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: inline-flex; 
            height: 48px;
            width: 100%;
            justify-content: center;
            line-height: 1;
            list-style: none;
            overflow: hidden;
            padding-left: 16px;
            padding-right: 16px;
            position: relative;
            text-align: left;
            text-decoration: none;
            transition: box-shadow 0.15s,transform 0.15s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            will-change: box-shadow,transform;
            font-size: 16px;
          }
          
          .button-add:focus {
            box-shadow: #1e8052 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #1e8052 0 -3px 0 inset;
          }
          
          .button-add:hover {
            box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #1e8052 0 -3px 0 inset;
            transform: translateY(-2px);
          }
          
          .button-add:active {
            box-shadow: #1e8052 0 3px 7px inset;
            transform: translateY(2px);
          }
          .button-bulk {
            align-items: center;
            appearance: none;
            /* background-image: radial-gradient(100% 100% at 100% 0, #1e8052 0, #1e8052 100%); */
            background: #828891;
            border: 0;
            border-radius: 6px;
            box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: inline-flex; 
            height: 48px;
            width: 100%;
            justify-content: center;
            line-height: 1;
            list-style: none;
            overflow: hidden;
            padding-left: 16px;
            padding-right: 16px;
            position: relative;
            text-align: left;
            text-decoration: none;
            transition: box-shadow .15s,transform .15s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            will-change: box-shadow,transform;
            font-size: 16px;
          }
          
          .button-bulk:focus {
            box-shadow: #828891 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #828891 0 -3px 0 inset;
          }
          
          .button-bulk:hover {
            box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #676c73 0 -3px 0 inset;
            transform: translateY(-2px);
          }
          
          .button-bulk:active {
            box-shadow: #828891 0 3px 7px inset;
            transform: translateY(2px);
          }
          .button-delete {
            align-items: center;
            appearance: none;
            background: rgb(185, 62, 62);
            border: 0;
            border-radius: 6px;
            box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: inline-flex; 
            height: 48px;
            width: 100%;
            justify-content: center;
            line-height: 1;
            list-style: none;
            overflow: hidden;
            padding-left: 16px;
            padding-right: 16px;
            position: relative;
            text-align: left;
            text-decoration: none;
            transition: box-shadow .15s,transform .15s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            will-change: box-shadow,transform;
            font-size: 16px;
          }
          
          .button-delete:focus {
            box-shadow: rgb(185, 62, 62) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgb(185, 62, 62) 0 -3px 0 inset;
          }
          
          .button-delete:hover {
            box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgb(179, 70, 70) 0 -3px 0 inset;
            transform: translateY(-2px);
          }
          
          .button-delete:active {
            box-shadow: rgb(225, 75, 75) 0 3px 7px inset;
            transform: translateY(2px);
          }
          .button-filter {
            align-items: center;
            appearance: none;
            background-image: radial-gradient(100% 100% at 100% 0, #1e8052 0, #1e8052 100%);
            border: 0;
            border-radius: 6px;
            box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: inline-flex; 
            height: 48px;
            width: 100%;
            justify-content: center;
            line-height: 1;
            list-style: none;
            overflow: hidden;
            padding-left: 16px;
            margin-top: 3px;
            position: relative;
            text-align: left;
            text-decoration: none;
            /* transition: box-shadow 0.15s,transform 0.15s; */
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            /* will-change: box-shadow,transform; */
            font-size: 16px;
          }
          
          .button-filter:focus {
            box-shadow: #1e8052 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #1e8052 0 -3px 0 inset;
          }
          .button-filter:active {
            box-shadow: #1e8052 0 3px 7px inset;
            /* transform: translateY(2px); */
          }
          .button-reset {
            align-items: center;
            appearance: none;
            /* background-image: radial-gradient(100% 100% at 100% 0, #1e8052 0, #1e8052 100%); */
            background: #828891;
            border: 0;
            border-radius: 6px;
            box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: inline-flex; 
            height: 48px;
            width: 100%;
            justify-content: center;
            line-height: 1;
            list-style: none;
            overflow: hidden;
            padding-left: 16px;
            padding-right: 16px;
            margin-top: 3px;
            position: relative;
            text-align: left;
            text-decoration: none;
            transition: box-shadow .15s,transform .15s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            will-change: box-shadow,transform;
            font-size: 16px;
          }
          
          .button-reset:focus {
            box-shadow: #828891 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #828891 0 -3px 0 inset;
          }
          
          .button-reset:hover {
            box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #676c73 0 -3px 0 inset;
            transform: translateY(-2px);
          }
          
          .button-reset:active {
            box-shadow: #828891 0 3px 7px inset;
            transform: translateY(2px);
          }
  .checkbox-wrapper-24 .checkbox {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
  }

  .checkbox-wrapper-24 label {
    display: inline-block;
    color: #333;
    cursor: pointer;
    position: relative;
  }
  .checkbox-wrapper-24 label span {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
    transform-origin: center;
    border: 2px solid #333;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
  }
  .checkbox-wrapper-24 label span:before {
    content: "";
    width: 0px;
    height: 2px;
    border-radius: 2px;
    background: #333;
    position: absolute;
    transform: rotate(45deg);
    top: 13px;
    left: 9px;
    transition: width 50ms ease 50ms;
    transform-origin: 0% 0%;
  }
  .checkbox-wrapper-24 label span:after {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: #333;
    position: absolute;
    transform: rotate(305deg);
    top: 16px;
    left: 10px;
    transition: width 50ms ease;
    transform-origin: 0% 0%;
  }
  .checkbox-wrapper-24 label:hover span:before {
    width: 5px;
    transition: width 100ms ease;
  }
  .checkbox-wrapper-24 label:hover span:after {
    width: 10px;
    transition: width 150ms ease 100ms;
  }

  .checkbox-wrapper-24 input[type=checkbox] {
    display: none;
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label span {
    background-color: #333;
    transform: scale(1.25);
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label span:after {
    width: 10px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label span:before {
    width: 5px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label:hover span {
    background-color: #333;
    transform: scale(1.25);
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label:hover span:after {
    width: 10px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label:hover span:before {
    width: 5px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
