body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.top-body{
    background: #0da487;
    height: 3rem;
    padding-top: 10px;
    font-weight: 600;
}
.top-body .selection{
    border: none;
    color: white;
}
.selection option{
    background: #0da487;
}

.fast-color{
    color: #0da487;
}
.nav-body{
    margin-top: 2rem;
}
.down-key{
    font-size: 22px;
}
.form-search {
    margin-left: 5rem;
}
.form-search input{
    height: 3rem;
    width: 26rem;
}
.selection-location {
    height: 3rem;
    /* border:2px solid green; */
    width: 10rem;
    border-radius: 5px;
    color: #0da487;
    font-weight: 600;
    /* padding-left: 28px; */
    font-size: 17px;
    /* padding-right: 8px; */
}
.icons .nav-icon{
    /* width: ; */
  font-size: 33px;
  margin-left: 13px;
  margin-right: 5px;
}
.icons{
    margin-left: 6rem;
    /* width: 10rem; */
    /* text-align: left; */
    padding-left: 29px;
}
.search-icon{
    color: white;
    font-size: 24px;
    padding: 0px 0px;
}
.form-search button{
    width: 5rem;
}
.single-line {
    width: 1px;
    height: 3rem;
    margin-left: 4px;
    background: grey;
}
.category-btn button{
    margin-top: 1rem;
    background: #0da487;
    color: white;
    border: none;
    border-radius: 5px;
    width: 12rem;
    height: 3rem;
    font-size: 22px;
    padding: 5px;
    margin-left:10px;
}
.nav-links{
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 600;
}
.nav-a:hover{
    color: #0da487;
}
.nav a{
    color: rgb(71, 67, 67);
}
/* dropdown  */
.dropdown{
position: relative;
cursor: pointer;
}
.dropdown-text {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    list-style: none;
    position: absolute;
    /* background-color: #f9f9f9; */
    background-color: white;
    padding-left: 2rem;
    width: 9rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
    border-radius: 5px;
    opacity: 0; 
    transform: translateY(-10px); 
    transition: opacity 0.7s ease, transform 0.5s ease; 
}
.dropdown-text a {
    color: rgb(83, 82, 82);
    padding: 5px 0px;
    text-decoration: none;
    display: block;
    font-size: 17px;    
}

.dropdown-text a:hover {
    color: #0da487;
}

.nav-item.dropdown:hover .dropdown-text {
    /* display: block;     */
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
/* carosual section  */
.carosual-img-1{
object-fit: cover;
object-position: top;
/* width: 90%; */
height: 35rem;
}
.carosual-img-2{
    object-fit: cover;
    object-position: center;
    /* width: 90%; */
    height: 35rem;
    }
    .carousel-text{
        top: 6rem;
        /* right: 50rem; */
        text-align: left;
        /* font-weight: 700;
        font-size: 25px; */
        width: 28rem;
    }
    .daily-need-text{
        color: #0da487;
        font-size: 45px;
    }
    .carousel-text h5{
        font-weight: 600;
        font-size: 45px;
    }
    .carousel-text p{
        margin-top: 1rem;
        font-weight: 500;
        font-size: 17px;
    }
    .shownow-btn{
        color: white;
        font-weight: 700;
        width: 10rem;
        height: 3rem;
        background: #f86060;
        padding-top: 0px;
        padding-bottom: 6px;
    }
    .shownow-btn:hover{
        background: #0da487;
        color: white;
    }
    .right-arrow{
     font-size: 20px;
    }
    .carousel{
        margin-top: 3rem;
        
    }
    /* deal today  */
.deal-today{
    background: #e6f5f3;
    width: 13rem;
    height: 4rem;
    color: #0da487;
    text-align: center;
    padding-top: 13px;
    padding-right: 10px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 22px;
    margin-left: 3rem;
}
    /* box-1  */
    .box-1{
        margin-top: 4rem;
    }
    .box-1-img img{
        object-fit: cover;
        object-position: center;
        width: 97%;
        height: 70%;
        margin-bottom: 5rem;
        border-radius: 5px;
    }
    .box-1-img{
        position: relative;
    }
    .box-1-text{
        position: absolute;
        top: 9rem;
        left: 23px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    }
    .box-1-text-1{
        position: absolute;
        top: 2rem;
        padding-left: 23px;
        padding-top: 15px;
        background: rgba(255, 255, 255, 0.7);
        width: 15rem;
        border-end-end-radius: 30px;
       border-top-right-radius: 30px;
    color: black;
    font-size: 18px;
    font-weight: 500;
    }
    .box-2-left-part{
        height: 47rem;
        background: whitesmoke;
        border-radius: 5px;
        padding-top: 2rem;
    }
    .category-blow-line{
        width: 4rem;
        height: 3px;
        margin-left: 25px;
        background: #0da487;
        
    }
    .box-2-left-part li{
     
        list-style: none;
        font-weight: 400;
        font-size: 17px;
        color: black;
        margin: 20px 0px;
    }
    .box-2-left-icon img{
        width: 25px;
        height: 25px;
        margin-right: 15px;
    }
    .box-2-left-icon {
        font-weight: 500;
    }
    .dotted-line{
            border-top: 1px dashed black;
    }
    /* right section  */
    .card .card-img-top {
        object-fit: cover;
        object-position: center;
        width: 60%;
        height: 60%;
        /* padding-left: 5rem; */
    }
   .card-img-top img{
    margin-left: 4rem;
   }
    .card-body{
        padding-top: 0px !important;
    }
    .product-card{
        width: 19rem;
        height: 19rem;
        margin-bottom: 30px;
        margin-left: 20px;
    }
    
    .timer {
        background-color: #f44336;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 14px;
    }
    .product-price {
        color: green;
    }
    .product-old-price {
        text-decoration: line-through;
        color: gray;
    }
    .add-btn{
        background-color: whitesmoke;
        width: 15rem;
        border-radius: 20px;
        display: flex;
        color: grey;
        justify-content: space-between;
    }
    .add-btn:hover{
        background: rgb(234, 227, 227);
    }
    .add-btn .plus-btn{
        background: white;
        border-radius: 50%;
        color: #0da487;
        /* font-size: 20px; */
      font-size: 20px;
      padding-left: 2px;
      padding-right: 2px;
      /* margin-left: 3rem; */
    }
    .add-btn .minus-btn{
        background: white;
        border-radius: 50%;
        color: #0da487;
        /* font-size: 20px; */
      font-size: 20px;
      padding-left: 2px;
      padding-right: 2px;
      /* margin-left: 5rem; */
    }
    .new-badge {
        background-color: #ffc107;
        color: white;
        padding: 2px 5px;
        font-size: 12px;
        border-radius: 5px;
    }
    .side-img img{
        width: 100%;
        height: 100%;
        /* margin-left: 1rem; */
        margin-bottom: 3rem;
        margin-top: 1rem;
    }
    .side-text{
        position: absolute;
        top: 37px;
        left: 2rem;
    }
    .side-text .para-2{
        color: #0da487;
        font-weight: 700;
        font-size: 24px;
    }
    .side-text button{
        background: #ff6767;
        color: white;
        border:none;
        border-radius: 5px;
        height: 40px;
        margin-top: 1rem;
        width: 100px;
    }
    .shownow-btn-1 button{
        color: white;
        font-weight: 700;
        width: 15rem;
        height: 3rem;
        background: #ff6767;
        padding-top: 0px;
        padding-bottom: 6px;
    }
    .shownow-btn-1:hover{
        background: #0da487;
        color: white;
    }
    .shownow-btn-2 {
        color: white;
        font-weight: 700;
        width:7rem;
        height:43px;
        background: #ff6767;
        padding-top: 0px;
        padding-bottom: 6px;
    }
    .shownow-btn-2:hover{
        background: #0da487;
        color: white;
    }
    .card-img img{
        width: 19rem;
        height: 12rem;
        object-fit: cover;
        margin-left:10px;
        margin-right:10px;
        object-position: center;
    }
    .box-3-img img{
        width: 21rem;
        height: 50rem;
        border-radius: 5px;
        margin-left: -18px;
        object-fit: cover;
        object-position: center;
    }
    .horizontal-img{
        margin-top: 5rem;
        /* margin-left: 2rem; */
        /* width: 60rem; */
    }
    .horizontal-img img{
        width: 100%;
        object-fit: cover;
        
        height: 100%;
    }
    .horizontal-text{
        top: 2rem;
        left: 17rem;
        font-weight: 500;
        /* text-align: center; */
        color: white;
        font-size: 22px;
    }
    .box-4-img-1 img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: auto;
    }
    .box-4-img-2 img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: auto;
    }
    .box-4-img-3 img{
        object-fit: cover;
        object-position: center;
        width: 100%;
    }
    .box-4-text{
        top: 2rem;
        left: 2rem;
    }
    .box-4-text h2{
        color: #0da487;
    }
    .box-4-text div{
        font-weight: 600;
        font-size: 19px;
    }
    .box-4-text-2{
        top: 2rem;
        left: 2rem;
    }
    .box-4-text-2 h2{
        color: #f66b6b;
    }
    .box-4-text-2 .summary{
        color: #0da487;
        font-weight: 600;
        font-size: 29px;
    }
    .text-color{
        color: #0da487;
    }
    .box-4-text-3{
        top: 2rem;
        left: 20rem;
    }
   
    /* last section  */
    /* .customer-comment, */
    .featured-blog {
        padding: 20px;
        /* border: 1px solid #ddd; */
        border-radius: 5px;
        background-color: #fff;
    }   

    .customer-comment{
        background: whitesmoke;
        height: 29rem;
        width: 20rem;
        margin-left: -1rem;
        padding: 3rem;
        border-radius: 5px;
    }
    .customer-comment img {
        border-radius: 50%;
        width: 64px;
        height: 50px;
    }
    .customer{
        width: 23rem;
    }
    .customer-comment .customerpara{
        color: grey;
    }

    .featured-blog img {
        width: 100%;
        height: auto;
    }

    .featured-blog .date {
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 3px;
        font-weight: 500;
        color: #666;
    }
    .feature-para:hover{
        color: #0da487;
    }
    /* footer */
       .footer {
            background-color: #f8f9fa;
            padding: 40px 0;
        }
        .footer .footer-top {
            padding-bottom: 20px;
            border-bottom: 1px solid #e1e1e1;
        }
        .footer .footer-bottom {
            padding-top: 20px;
        }
        .footer .footer-title {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 20px;
        }
        .footer a {
            color: #6c757d;
            text-decoration: none;
        }
        .footer a:hover {
            text-decoration: underline;
        } 
        .footer p{
            color: #6c757d;
        }
      